*~
\#*\#
.\#*
*.aux
*.pdf
*.log
*.out
*.toc
*.sagetex.sout
*.sagetex.scmd
*.sagetex.sage.py
*.sagetex.sage
*.synctex.gz
*.jax
*.oc
*.dvi
*.idx
*.ilg
*.ind
*.lg
*.idv
*.xref
*.html
*.auxlock
*.4tc
*.4ct
*.tmp
*.png
TODO.md
*.xml
*.dpth
*.md5
